html, body {
    height: 100%;
    margin: 0;
}

.main-div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  margin: 5, 10;
  flex-wrap: wrap;
  background: #f5f5f5;
}

.profile-card {
  width: 300px;
  height: 200px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 5px;
  overflow: hidden;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.profile-card1 {
  position: fixed;
  bottom: 0.5%;
  right: 3.5%;
  margin: 5%;
}

.profile-card11 {
    background-color: #be9e9e;
    height: 100vh;
}

.sticky-header {
  position: sticky;
  top: 0; /* Stick to the top of the container */
  background-color: #f4f4f4;
  padding: 10px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  z-index: 1000; /* Ensure it stays above other content */
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.footer-content {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: #f4f4f4;
  padding: 10px;
  border-top: 1px solid #ddd;
  width: 100%;
  text-align: center;
}

.header {
  display: flex;
  background-color: #333;
  color: white;
  padding: 10px;
  justify-content: space-around;
}

.tab {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.tab:hover {
  background-color: #555;
}

.selected {
  background-color: darkgray; /* Background color when selected */
  color: white;
  text-align: center;
  padding: 10px;
}

.counter-main-div {
  position: fixed;
  top: 25%;
  right: 9%;
}

.todo-main-div {
  position: fixed;
  top: 25%;
  left: 2%;
}

h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

p {
  margin: 0;
  color: #777;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}

/* Mobile styles */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }


  .profile-card .main-div {
    margin: 0px;
  }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1200px) {
  .container {
    padding: 15px;
  }

  .card {
    width: 45%;
    margin: 10px auto;
  }
}

/* Desktop styles */
@media (min-width: 1201px) {
  .container {
    display: flex;
    justify-content: space-around;
  }

  .card {
    width: 30%;
  }
}
